@import "tailwindcss";
@import "@nuxt/ui";

:root {
  --warm-bg: #FFFCF8;
  --warm-light: #F5EFE6;
  --warm-primary: #EADBC8;
  --warm-deep: #C9B7A3;
}

.safe-top {
  padding-top: env(safe-area-inset-top, 0px);
}

.safe-bottom {
  padding-bottom: env(safe-area-inset-bottom, 0px);
}
